table, th, td {
    border: 2px solid #222;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    margin-left: 5px;
}

table {
    border-spacing: 5px;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:nth-child(odd){
    background-color: #e6ffe6;
}

